<?xml version="1.0" encoding="utf-8"?>
<root>
   <chosen runName="Fluo-N2DL-HeLa01"/>
    <run name="RPE1_01">
      <inputImage expression="M20180725_w1Cy5 Camera_s7_t([0-9]+)*" extension=".tif" path="..\Data\Inputs\RPE1\RPE_Cy5_TexasRed\Cy5"/>
      <inputSegmentation expression="M20180725_w1Cy5 Camera_s7_t([0-9]+)*" extension=".tif" path="..\Data\Inputs\RPE1\RPE_Cy5_TexasRed\Seg"/>
      <output path="..\\Data\\Outputs\\RPE1\\01"/>
      <groundTruth path="..\Data\Inputs\RPE1\RPE_Cy5_TexasRed\GT\mitosisGT_01.mat"/>
      <cellCycleTime hours="24"/>
      <frameRate minutes="5"/>
      <minCellLength pixels="14"/>
   </run>
    <run name="RPE1_02">
      <inputImage expression="M20180725_w1Cy5 Camera_s8_t([0-9]+)*" extension=".tif" path="..\Data\Inputs\RPE1\RPE_Cy5_TexasRed\Cy5"/>
      <inputSegmentation expression="M20180725_w1Cy5 Camera_s8_t([0-9]+)*" extension=".tif" path="..\Data\Inputs\RPE1\RPE_Cy5_TexasRed\Seg"/>
      <output path="..\\Data\\Outputs\\RPE1\\02"/>
      <groundTruth path="..\Data\Inputs\RPE1\RPE_Cy5_TexasRed\GT\mitosisGT_02.mat"/>
      <cellCycleTime hours="24"/>
      <frameRate minutes="5"/>
      <minCellLength pixels="14"/>
   </run>
   <run name="RPE1_03">
      <inputImage expression="M20180725_w1Cy5 Camera_s12_t([0-9]+)*" extension=".tif" path="..\Data\Inputs\RPE1\RPE_Cy5_TexasRed\Cy5"/>
      <inputSegmentation expression="M20180725_w1Cy5 Camera_s12_t([0-9]+)*" extension=".tif" path="..\Data\Inputs\RPE1\RPE_Cy5_TexasRed\Seg"/>
      <output path="..\\Data\\Outputs\\RPE1\\03"/>
      <groundTruth path="..\Data\Inputs\RPE1\RPE_Cy5_TexasRed\GT\mitosisGT_03.mat"/>
      <cellCycleTime hours="24"/>
      <frameRate minutes="5"/>
      <minCellLength pixels="14"/>
   </run>
   <run name="MCF-10A">
      <inputImage expression="s17_sb_([0-9]+)*" extension=".tif" path="..\Data\Inputs\GrayLevel\Broad\Input\sub1"/>
      <inputSegmentation expression="s17_sb_([0-9]+)*" extension=".tif" path="..\Data\Inputs\SEG\Broad\SEG\sub1"/>
      <output path="..\\Data\\Outputs\\Broad"/>
      <groundTruth path="..\\Data\\Inputs\\GT\\Broad\\mitosisGT.mat"/>
      <cellCycleTime hours="24"/>
      <frameRate minutes="20"/>
      <minCellLength pixels="5"/>
   </run>
   <run name="Fluo-N2DL-HeLa01">
      <inputImage expression="t([0-9]+)" extension=".tif" path="..\Data\Inputs\ISBI\2014\Fluo-N2DL-HeLa\01\"/>
      <inputSegmentation expression="t([0-9]+)_Simple Segmentation" extension=".tif" path="..\Data\Inputs\Ilastik\ISBI\Fluo-N2DL-HeLa\01\seg"/>
      <output path="..\Data\Outputs\ISBI\Fluo-N2DL-HeLa\01/"/>
      <groundTruth path="..\Data\Inputs\ISBI\2014\Fluo-N2DL-HeLa\01_GT\GT\mitosisGT.mat"/>
      <cellCycleTime hours="24"/>
      <frameRate minutes="30"/>
      <minCellLength pixels="15"/>
   </run>
   
   <run name="Fluo-N2DL-HeLa02">
      <inputImage expression="t([0-9]+)" extension=".tif" path="..\Data\Inputs\ISBI\2014\Fluo-N2DL-HeLa\02\"/>
      <inputSegmentation expression="t([0-9]+)_Simple Segmentation" extension=".tif" path="..\Data\Inputs\Ilastik\ISBI\Fluo-N2DL-HeLa\02\seg"/>
      <output path="..\Data\Outputs\ISBI\Fluo-N2DL-HeLa\02/"/>
      <groundTruth path="..\Data\Inputs\ISBI\2014\Fluo-N2DL-HeLa\02_GT\GT\mitosisGT.mat"/>
      <cellCycleTime hours="24"/>
      <frameRate minutes="30"/>
      <minCellLength pixels="15"/>
   </run>
    <run name="Fluo-N2DL-HeLa_DISK_01">
      <inputImage expression="t([0-9]+)" extension=".tif" path="..\Data\Inputs\ISBI\2014\Fluo-N2DL-HeLa\01\"/>
      <inputSegmentation expression="t([0-9]+)_Simple Segmentation" extension=".tif" path="..\Data\Inputs\Ilastik\ISBI\Fluo-N2DL-HeLa\01\DiskSeg"/>
      <output path="..\Data\Outputs\ISBI\Fluo-N2DL-HeLa\01/"/>
      <groundTruth path="..\Data\Inputs\ISBI\2014\Fluo-N2DL-HeLa\01_GT\GT\mitosisGT.mat"/>
      <cellCycleTime hours="24"/>
      <frameRate minutes="30"/>
      <minCellLength pixels="15"/>
   </run>

   <run name="SIM+_2D_01">
      <inputImage expression="t([0-9]+)" extension=".tif" path="..\Data\Inputs\ISBI\2014\Fluo-N2DH-SIM+\01\"/>
      <inputSegmentation expression="man_track([0-9]+)" extension=".tif" path="..\Data\Inputs\ISBI\2014\Fluo-N2DH-SIM+\01_GT\TRA\"/>
      <output path="..\Data\Outputs\ISBI\Fluo-N2DH-SIM+\01/"/>
      <groundTruth path="..\Data\Inputs\ISBI\2014\Fluo-N2DH-SIM+\01_GT\GT\mitosisGT.mat"/>
      <cellCycleTime hours="24"/>
      <frameRate minutes="29"/>
      <minCellLength pixels="15"/>
   </run>
   
   <run name="SIM+_2D_02">
      <inputImage expression="t([0-9]+)" extension=".tif" path="..\Data\Inputs\ISBI\2014\Fluo-N2DH-SIM+\02\"/>
      <inputSegmentation expression="man_track([0-9]+)" extension=".tif" path="..\Data\Inputs\ISBI\2014\Fluo-N2DH-SIM+\02_GT\TRA\"/>
      <output path="..\Data\Outputs\ISBI\Fluo-N2DH-SIM+\02/"/>
      <groundTruth path="..\Data\Inputs\ISBI\2014\Fluo-N2DH-SIM+\02_GT\GT\mitosisGT.mat"/>
      <cellCycleTime hours="24"/>
      <frameRate minutes="29"/>
      <minCellLength pixels="15"/>
   </run>

    <run name="SIM+_3D_01">
      <inputImage expression="t([0-9]+)" extension=".tif" path="..\Data\Inputs\ISBI\2014\Fluo-N3DH-SIM+\01\"/>
      <inputSegmentation expression="man_track([0-9]+)" extension=".tif" path="..\Data\Inputs\ISBI\2014\Fluo-N3DH-SIM+\01_GT\TRA\"/>
      <output path="..\Data\Outputs\ISBI\Fluo-N3DH-SIM+\01/"/>
      <groundTruth path="..\Data\Inputs\ISBI\2014\Fluo-N3DH-SIM+\01_GT\GT\mitosisGT.mat"/>
      <cellCycleTime hours="24"/>
      <frameRate minutes="29"/>
      <minCellLength pixels="15"/>
   </run>

   <run name="SIM+_3D_02">
      <inputImage expression="t([0-9]+)" extension=".tif" path="..\Data\Inputs\ISBI\2014\Fluo-N3DH-SIM+\02\"/>
      <inputSegmentation expression="man_track([0-9]+)" extension=".tif" path="..\Data\Inputs\ISBI\2014\Fluo-N3DH-SIM+\02_GT\TRA\"/>
      <output path="..\Data\Outputs\ISBI\Fluo-N3DH-SIM+\02/"/>
      <groundTruth path="..\Data\Inputs\ISBI\2014\Fluo-N3DH-SIM+\02_GT\GT\mitosisGT.mat"/>
      <cellCycleTime hours="24"/>
      <frameRate minutes="29"/>
      <minCellLength pixels="15"/>
   </run>
</root>